/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 
 */

@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Crimson+Text);


body {
	/*background: #333;*/
	
	background-color: rgb(161,166,171);
}

#mini-nav{
	display: block;
	width: 200px;
	height: auto;
	padding: 20px;
	margin: 10px auto;
	text-align: center;

}

.navbar-default
.navbar-brand {
	color: rgb(204,177,163);
}
.navbar-default .navbar-nav>li>a {
	color: rgb(204,177,163);
}
#landing {
	font-family: 'Droid Sans', sans-serif;
	display: block;
	width: 200px;
	height: auto;
	padding: 20px;
	margin: 10px auto;
}

#user-landing {
	display: block;
	width: 200px;
	height: auto;
	padding: 20px;
	margin: 10px auto;
	text-align: center;
}

h6 {
	font-family: 'Crimson Text', serif;
}

#session-box {
	display: block;
	width: 200px;
	height: auto;
	padding: 20px;
	margin: 10px auto;
}

img {
	display: block;
	height: 140px;
	padding: 20px;
	margin: 10px auto;
	padding-left: 36px
}

.navbar-brand {
	color: white;
}

#new_user_form{
	text-align: center;
	margin-top: 32px;

} 
#form-group {
	text-align: center;
	margin-top: 50px;
}
#edit_form {
color: black;
margin-top: 53px
}
#agreement-show {
	text-align: center;

}

h1 {
	color: black;
}

.navbar-brand {
	color: white;
}

.navbar  {
	background-color: rgb(103,118,133);
	border-color: white;
}

#welcome-landing {
	margin-top: 56px;
}
/*#user-show {
	display: block;
	width: 200px;
	height: auto;
	padding: 20px;
	margin: 10px auto;
}*/

